:root {
    --bg-color-primary: #1CB0F6;
    --bg-color-primary-home: linear-gradient(180deg, #1CB0F6, #0260D9);

    --bg-color-primary-btn: #58CC02;
    --bg-color-light-btn: #fff;

    --t-color-primary: #fff;
}

.bg-color-primary {
    background-color: var(--bg-color-primary) !important;
}
.bg-primary-home {
    background: var(--bg-color-primary-home) !important;
}
.bg-primary-btn {
    background-color: var(--bg-color-primary-btn) !important;
}
.bg-light-btn {
    background-color: var(--bg-color-light-btn) !important;
}

.text-color-primary {
    color: var(--t-color-primary) !important;
}