.home-page {
     
}
.banner-home-end {
     border-radius: 17px;
     padding: 35px 50px;
}
.banner-home-end img {
     width: 80%;
}
.panner-img {
     display: flex;
     align-items: center;
     justify-content: center;
}